<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Products</title>
  </head>
  <body>
    <h1>Niewe Aanvraag</h1>
    <br /><br />
    <form method="POST" action="/aanvraag">
      Name: <input type="text" name="name" size="20" /><br />
      Examen:<input type="text" name="examen" size="20" /><br />
      Reden: <input type="text" name="reden" size="20" /><br />
      <br />
      <input type="submit" value="save" />
    </form>
  </body>
</html>
