<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h2>Result</h2>
  <br/><br/>
  <ul>
    <%for (var examen in student){%>
      <li><%=student[examen].name%><br/>Examen: <%=student[examen].examen%> <br/>Reden: <%=student[examen].reden%> <br/> Datum: <%=student[examen].datum%></li>    
      <%}%>
    </ul>

</body>
</html>
