<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Inhaalexamens</title>
</head>
<body>

  <h2>Zoek student</h2>
  <br/><br/>
  <form action='/list' method='POST'>
    <span><b>Naam student : </b><input type='text' name='name'></span>
    <span><button type='submit'>Search</button></span>
  </form>
</body>
</html>
